<h1 class="display-1 text-center mb-5">Bienvenido</h1>

  <div id="carouselExampleDark" class="carousel carousel-dark slide mx-5 mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active " data-bs-interval="1000">
        <img src="../../../assets/job-gf6e08975f_1920.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>¿Quiénes somos?</h5>
          <p>Somos una empresa con innovación y ventas tecnológicas, siempre basándonos en realizar el trabajo de la mejor forma y con valores.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2700">
        <img src="../../../assets/goal-gb8bddb29e_1920.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Misión</h5>
          <p>Nuestrsa misión es suplir las necesidades tecnológicas a los guatemaltecos, siempre dando el mejor precio posible.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/entrepreneur-gace6795d2_1920.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-white">
          <h5>Visión</h5>
          <p>Queremos ser una marca pionera en el ámbito tecnológico en toda centroamérica.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

