<!--Boton-->
<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarEmpresa">Agregar</button>


<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
    <div class="col">
        <div class="card naranja-oscuro h-100">
            <div class="row justify-content-center">
                <img src="../../../assets/empresa.png" class="img-fluid" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title text-light">Sucursal no.1</h5>
                <p class="card-text text-light">Esta sucursal se encuentra en zona 10 de la ciudad de guatemala, la cual te
                    brindara el mejor apoyo si te encuentras en la gran ciudad.</p>
            </div>
            <div class="card-footer">
                <small class="text-light">24 Avenida 15 Calle Zona 10</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card naranja-oscuro h-100">
            <div class="row justify-content-center">
                <img src="../../../assets/A.png" class="img-fluid" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title text-light">Surcusal No.2</h5>
                <p class="card-text text-light">Esta Surcusal se encuentra en el salvador especificamente en la ciudad por lo cual
                    si te encuentras cerca te brindara una ayuda necesaria</p>
            </div>
            <div class="card-footer">
                <small class="text-light">Col Lincoln Cl Castro Morán 7 - 1</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card naranja-oscuro h-100">
            <div class="row justify-content-center">
                <img src="../../../assets/B.png" class="img-fluid" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title text-light">Surcursal No.3</h5>
                <p class="card-text text-light">La empresa de la sucursal 3 se encuentra en panama la cual es una de las mas
                    recientes que ha tenido la empresa por lo cual puedes visitar nuestro nuevo edificio</p>
            </div>
            <div class="card-footer">
                <small class="text-light">Torre ADR, Piso 8, Avenida Samuel Lewis,</small>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
    <div class="col">
        <div class="card naranja-oscuro h-100">
            <div class="row justify-content-center">
                <img src="../../../assets/c.png" class="img-fluid" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title text-light">Desempeño de la empresa</h5>
                <p class="card-text text-light">La empresa ha sido un gran exito por lo cual tenemos pensado generar mas sucursales
                    entre todo centro america y estados unidos</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card naranja-oscuro h-100">
            <div class="row justify-content-center">
                <img src="../../../assets/D.png" class="img-fluid" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title text-light">Compromiso</h5>
                <p class="card-text text-light">Nuestro comromiso como empresa es adaptarnos a la pandemia y por medio de este
                    adaptamiento ser una de las empresas mas eficientes posibles.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card naranja-oscuro h-100">
            <div class="row justify-content-center">
                <img src="../../../assets/E.png" class="img-fluid" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title text-light">Como nos catalogamos?</h5>
                <p class="card-text text-light">Nosotros como empresa nos catalogamos como una de las empresas con mayor inovacion
                    tecnologica a nivel de latino America</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAgregarEmpresa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Empresa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="inputNombre" class="form-label">nombre de usuario</label>
                <input type="text" class="form-control" id="inputusuario" name="usuario" #usuario="ngModel" [(ngModel)]="empresaModelPost.usuario">
              </div>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">nombre de la empresa</label>
            <input type="text" class="form-control" id="inputNombre" name="nombreEmpresa" #nombreEmpresa="ngModel" [(ngModel)]="empresaModelPost.nombreEmpresa">
          </div>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Contraseña de la empresa</label>
           <input type="text" class="form-control" id="inputpassword" name="password" #password="ngModel" [(ngModel)]="empresaModelPost.password">
          </div>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Tipo empresa</label>
          <input type="text" class="form-control" id="inputTipoEmpresa" name="tipoEmpresa" #tipoEmpresa="ngModel" [(ngModel)]="empresaModelPost.tipoEmpresa">
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="postEmpresa()">Agregar</button>
        </div>
      </div>
    </div>
  </div>
  