<div class="container  min-vh-100 py-4">
  <div class="row">
      <div class="col-md-5 mx-auto">
          <div class="small fw-light color-texto text-center"><h5>¿Empresa que desea buscar?</h5></div>
          <div class="input-group">
              <input class="form-control border-end-0 border rounded-pill" [(ngModel)]="buscarEmpresa" name="buscarEmpresa" placeholder="nombre de la empresa"  type="search" value="search" id="example-search-input">
              <span class="input-group-append">
                  <button class="btn btn-outline-info bg-white border-bottom-0 border rounded-pill ms-n5" type="button">
                    Buscar
                  </button>
              </span>
          </div>
      </div>
  </div>

<!--Boton-->
<div class="container mt-4 ml-3">
  <button class="btn btn-primary "type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarEmpresa " *ngIf="_empresaService.obtenerIdentidad().rol === 'ADMIN'">Agregar Empresa</button>
</div>

<!-- card-listar -->
<div class="container">
  <div class="row" *ngIf="validation==true">
      <div class="col-12 col-md-4 mt-4" *ngFor="let emp of empresaModelGet  | buscarEmpresa:buscarEmpresa">
        <ng-container>
          <div class="card naranja-oscuro h-90 my-3" style="width: 18rem;">
            <img src="../../../assets/empresa.png" class="card-img-top" alt="empresa-logo">
            <div class="card-body">
              <h4 class="card-title color-texto text-center">{{emp.nombreEmpresa}}</h4>
              <h6 class="card-title color-texto">Nombre de usuario:  {{emp.usuario}}</h6>
              <h6 class="card-title color-texto">Tipo de empresa:  {{emp.tipoEmpresa}}</h6>
              <div class="text-center" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-danger" (click)="deleteEmpresa(emp._id)">Eliminar</button>
                <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
                  (click)="getEmpresaId(emp._id)">
                  Editar
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
  </div>
  <div class="row justify-content-center align-items-center" style="height: 90vh" *ngIf="_empresaService.obtenerIdentidad().rol === 'EMPRESA'">
    <div class="alert alert-danger text-center" role="alert">
      <h4 class="alert-heading">Lo sentimos</h4>
      <p>No tienes los permisos necesarios para visualizar las demas empresas</p>
      <hr>
    </div>
  </div>
</div>

<!-- Modal agregar empresa -->
<div class="modal fade" id="modalAgregarEmpresa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Empresa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form #agregarEmpresa = "ngForm">
            <div class="mb-3">
                <label for="inputNombre" class="form-label">nombre de usuario</label>
                <input type="text" class="form-control" id="inputusuario" name="usuario" #usuario="ngModel" [(ngModel)]="empresaModelPost.usuario">
              </div>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">nombre de la empresa</label>
            <input type="text" class="form-control" id="inputNombre" name="nombreEmpresa" #nombreEmpresa="ngModel" [(ngModel)]="empresaModelPost.nombreEmpresa">
          </div>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Contraseña de la empresa</label>
           <input type="password" class="form-control" id="inputpassword" name="password" #password="ngModel" [(ngModel)]="empresaModelPost.password">
          </div>
          <div class="mb-3">
            <label for="inputTipoEmpresa" class="form-label text-light fs-5">Tipo Empresa</label>
            <select class="form-select" aria-label="Default select example" id="inputTipoEmpresa" name="tipoEmpresa"
              #tipoEmpresa="ngModel" [(ngModel)]="empresaModelPost.tipoEmpresa">
              <!-- <option selected="true" disabled="disabled">Elije el tipo de empresa que seas</option> -->
              <ng-container *ngFor="let tipo of tipo">
                <option [value]="tipo.nombre">{{tipo.nombre}}</option>
              </ng-container>
            </select>
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="postEmpresa(agregarEmpresa)">Agregar</button>
        </div>
      </div>
    </div>
  </div>

<!---OffCanvas Editar Empresas-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar Empresa</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class="mb-3">
        <label for="inputUsuario" class="from-label">usuario</label>
        <input type="text" class="form-control" id="inputUsuario" name="usuario"  #usuario="ngModel"  [(ngModel)]="empresaModelGetId.usuario">
      </div>
      <div class="mb-3">
        <label for="inputNombreEmpresa" class="from-label">Nombre empresa</label>
       <input type="text" class="form-control" id="inputNombreEmpresa" name="nombreEmpresa" #nombreEmpresa="ngModel" [(ngModel)]="empresaModelGetId.nombreEmpresa">
      </div>
     <div class="mb-3">
       <label for="inputTipoempresa" class="from-label">Tipo Empresa</label>
       <input type="text" class="form-control" id="inputTipoempresa" name="tipoEmpresa"  #tipoEmpresa="ngModel" [(ngModel)]="empresaModelGetId.tipoEmpresa">
      </div>
     <!-- <div class="mb-3">
        <label for="inputPassword" class="from-label">password</label>
        <input type="text" class="form-control" id="inputPassword" name="password"  #password="ngModel" [(ngModel)]="empresaModelGetId.password">
       </div>-->
      <button class="btn btn-success" data-bs-dismiss="offcanvas" (click)="putEmpresa()">Editar Empresa</button>
    </form>
  </div>
</div>
