.img-fluid{
    max-width: 50%;
    height: auto;
}

.gris-oscuro{
    background-color: #949998;
  }
  
  .oscuro{
    background-color: #434d47;
  }
  
  .naranja-claro{
    background-color: #DAAE88;
  }
  
  .naranja-oscuro{
    background-color: #965725;
  }

  .gris-claro{
    background-color: #dde8e7;
  }
  
  .bordeado{
    border-radius: 25px;
  }