<nav class="navbar navbar-expand-lg navbar-light oscuro">
    <div class="container-fluid"><a class="navbar-brand text-light" href="#">Navegacion</a><button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- usuario -->
                <li *ngIf="_empresaService.obtenerIdentidad().rol === 'EMPRESA'" class="nav-item"><a class="nav-link text-light" routerLink="/empresa/inicio" routerLinkActive="active">Inicio</a></li>
                <li *ngIf="_empresaService.obtenerIdentidad().rol === 'EMPRESA'"  class="nav-item"><a class="nav-link text-light" routerLink="/empresa/sucursales" routerLinkActive="active">Sucursales</a></li>
                <li *ngIf="_empresaService.obtenerIdentidad().rol === 'EMPRESA'"  class="nav-item"><a class="nav-link text-light" routerLink="/empresa/producto" routerLinkActive="active">Productos</a></li>
                <!-- admin -->
                <li *ngIf="_empresaService.obtenerIdentidad().rol === 'ADMIN'" class="nav-item"><a class="nav-link text-light" routerLink="/admin/inicio" routerLinkActive="active">Inicio</a></li>
                <li *ngIf="_empresaService.obtenerIdentidad().rol === 'ADMIN'" class="nav-item"><a class="nav-link text-light" routerLink="/admin/dashboard" routerLinkActive="active">Empresas</a></li>
                <li *ngIf="_empresaService.obtenerIdentidad().rol === 'ADMIN'" class="nav-item"><a class="nav-link text-light" routerLink="/admin/sucursales" routerLinkActive="active">Sucursales</a></li>
                <li class="nav-item"><a (click)="cerrarSesion()" class="nav-link text-light" routerLink="/login" routerLinkActive="active"> Cerrar sesión </a></li>
            </ul>
        </div>
    </div>
</nav>
