.max-height{
    height:90vh;
  }

  .gris-oscuro{
    background-color: #949998;
  }

  .oscuro{
    background-color: #434d47;
  }

  .naranja-claro{
    background-color: #F2E4D7;
  }

  .naranja-oscuro{
    background-color: #457092;
  }

  .gris-claro{
    color: white;
  }
  .bordeado{
    border-radius: 15px;
  }

  .text-morado{
    color: #533e85;
    font-size: 30px;
  }

  .centrar{
    display: flex;
    flex-direction: center;

  }

  .contenedorBotones{
    margin: auto;
    width: 60%;
    text-align: center;
    justify-content: center;
  }

  .espacio{
    margin-left: 10px;
  }

  .container{
    max-width: 100vh;
  }

  .bordeadoInput{
    border-radius: 9px;
  }
