<div class="container shadow min-vh-100 py-4">
  <div class="row">
      <div class="col-md-5 mx-auto">
          <div class="small fw-light">Buscar productos en la sucursal</div>
          <div class="input-group">
              <input class="form-control border-end-0 border rounded-pill" [(ngModel)]="buscar" name="buscar" placeholder="buscar productos"  type="search" value="search" id="example-search-input">
              <span class="input-group-append">
                  <button class="btn btn-outline-info bg-white border-bottom-0 border rounded-pill ms-n5" type="button">
                    Buscar
                  </button>
              </span>
          </div>
      </div>
  </div>

<div class="container">
  <div class="row">
      <div class="col-12 col-md-4 mt-4" *ngFor="let prodSuc of sucursalProductoModelGetId | buscar:buscar">
        <ng-container >
          <div class="card naranja-oscuro h-90 my-3" style="width: 18rem;">
            <img src="../../../assets/empresa-general.jpeg" class="card-img-top" alt="empresa-logo">
            <div class="card-body">
              <h4 class="card-title color-texto text-center">{{prodSuc.nombreProducto}}</h4>
              <h6 class="card-title color-texto">Cantidad: {{prodSuc.cantidadProducto}}</h6>
              <h6 class="card-title color-texto">Precio: {{prodSuc.precio}}</h6>
              <h6 class="card-title color-texto">Vendido: {{prodSuc.vendido}}</h6>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-white"></button>
                <button class="btn btn-white" type="button">
                </button>
                <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
                (click)="getProductoNombre(prodSuc.idSucursal._id,prodSuc.nombreProducto)">
                  Vender
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
  </div>

<!---OffCanvas vender productos-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Vender producto</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form >
      <div class="mb-3">
        <label for="inputnombreProducto" class="from-label">Nombre del producto</label>
        <input type="text" class="form-control" id="inputnombreProducto" name="nombreProducto"  #nombreProducto="ngModel"  [(ngModel)]="productoGetNombre.nombreProducto">
      </div>
      <div class="mb-3">
        <label for="inputVendido" class="from-label">Cantidad a vender</label>
        <input type="text" class="form-control" id="inputVendido" name="cantidad"  #cantidad="ngModel"  [(ngModel)]="productoGetNombre.cantidadProducto">
      </div>
      <button class="btn btn-success" data-bs-dismiss="offcanvas" (click)="putVenta()">Vender producto</button>
    </form>
  </div>
</div>
