<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 mt-4" *ngFor="let ePro of empresaProductoModelGet">
          <ng-container >
            <div class="card naranja-oscuro h-90 my-3" style="width: 18rem;">
              <img src="../../../assets/empresa-general.jpeg" class="card-img-top" alt="empresa-logo">
              <div class="card-body">
                <h4 class="card-title color-texto text-center">{{ePro.nombreProducto}}</h4>
                <h6 class="card-title color-texto">Nombre del proveedor:{{ePro.nombreProveedor}}</h6>
                <h6 class="card-title color-texto">cantidad:{{ePro.cantidad}}</h6>
                <h6 class="card-title color-texto">Precio:{{ePro.precio}}</h6>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-danger">Eliminar</button>
                  <button class="btn btn-warning" type="button">
                    Editar
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
    </div>

