<div class="container">
  <div class="row">
      <div class="col-12 col-md-4 mt-4" *ngFor="let sucu of sucursalModelGet">
        <ng-container>
          <div class="card naranja-oscuro h-90 my-3" style="width: 18rem;">
            <img src="../../../assets/empresa-general.jpeg" class="card-img-top" alt="empresa-logo">
            <div class="card-body">
              <h4 class="card-title color-texto text-center">{{sucu.nombreSucursal}}</h4>
              <h6 class="card-title color-texto">Ubicacion:  {{sucu.ubicacion}}</h6>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button class="btn btn-warning" type="button">
                  Editar
                </button>
                <button type="button" class="nav-link text-light btn btn-primary" routerLink="/sucursalProducto" routerLinkActive="active"(click)="getSucursalId(sucu._id)">Ver Productos</button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
  </div>
